body,ul,li,div,p,span,h1,h2,h3,h4,h5,h6,i,a{
    margin: 0;padding:0;
    } 
    
    body{
        
        background-color: rgb(236, 173, 54);
        min-height: 570px;
        
    
    }
    .mynav{
    background-color:rgb(16, 16, 16)!important;
    color: white!important;;
    position: fixed;
    width: 100%;
    }

    .mynav a{
        color: white !important;;
        font-size: 20px;
        padding-right: 30px!important;
    }

    .main{
        padding: 40px;
    }

    .col-md-6{
       text-align: center; 
    }

    .computer{
        height: 600px;
    }

    .my{
        height: 500px;
    }

    .web{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: lightcyan;
    }

    .Services{
        text-align: center;
        color:  rgb(0, 139, 7);
    }

    .form{
        margin-left: 200px;
        height: 200px;
        text-align: center;
    } 

   .who{
    color:  rgb(0, 139, 7);
   }

   .work{
    color:  rgb(0, 139, 7);
   }

   .contact{
    color: rgb(0, 139, 7);
   }

   .Contact{
    background-color:  rgb(0, 139, 7);
    color: rgb(255, 255, 255);
    border-color:  rgb(0, 139, 7);
   }

   .Contact:hover{
    background-color: lightgreen;
}
    .button{
        background-color:  rgb(0, 139, 7);
        color: rgb(255, 255, 255);
        border-color:  rgb(0, 139, 7); 
    }

    .button:hover{
        background-color: lightgreen;  
    }


   
